{{ $ext := .Site.Language.Params.extension }}
{{ if $ext.enable | default false }}
<section id="extension" class="py-5">
    <div class="container">
        <h3 class="text-center">{{ $ext.title | default "Extension" }}</h3>
        <div class="row justify-content-center py-5">
            <div class="col-12 col-md-10">
                <div class="row">
                    {{ range $ext.items }}
                    <div class="col-12 mb-3">
                        <div class="card bg-transparent">
                            <div class="card-body">
                                <h5 class="card-title">{{ .title }}</h5>
                                <div class="card-text">{{ .content | markdownify }}</div>
                                {{ if .url }}
                                <div class="mt-2">
                                    <a href="{{ .url }}" target="_blank">{{ .url }}</a>
                                </div>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
