{{ $pub := .Site.Language.Params.publications }}
{{ if $pub.enable | default false }}
<section id="publications" class="py-5">
    <div class="container">
        <h3 class="text-center">{{ $pub.title | default "Publications" }}</h3>
        <div class="row justify-content-center py-5">
            <div class="col-12 col-md-10">
                <ul class="list-unstyled">
                    {{ range $pub.items }}
                    <li class="mb-3">
                        <div class="card bg-transparent">
                            <div class="card-body">
                                <h5 class="card-title">{{ .title }}</h5>
                                <div class="card-text">{{ .content | markdownify }}</div>
                                {{ if .links }}
                                <div class="mt-2">
                                    {{ range .links }}
                                        <a class="me-2" href="{{ .url }}" target="_blank">{{ .name | default .url }}</a>
                                    {{ end }}
                                </div>
                                {{ end }}
                            </div>
                        </div>
                    </li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
</section>
{{ end }}
