<section id="education" class="section education">
  <div class="container">
    <h2 class="section-title">{{ .Site.Params.experience.title }}</h2>
    
    {{ range .Site.Params.experience.items }}
    <div class="education-item">
      <div class="education-header">
        <h3 class="education-title">{{ .title }}</h3>
        <div class="education-school">
          {{ if .school.url }}
          <a href="{{ .school.url }}" target="_blank">{{ .school.name }}</a>
          {{ else }}
          {{ .school.name }}
          {{ end }}
        </div>
        <div class="education-date">{{ .date }}</div>
      </div>
      
      <div class="education-content">
        {{ .content | markdownify }}
      </div>
    </div>
    {{ end }}
  </div>
</section>